
button{
	background-color: #6B0000;
	border:none;
	color: white;
	font-size: 30px;
	font-family: 'Josefin Sans', sans-serif;
	padding: 10px;
	border-radius: 8px;
}
.interface{
	display: grid;
	grid-template-rows: 50% 50%;
}

.button-group{
	margin-left: 200px;
	margin-top: 200px;
}
.interface .timer-group{
	width: 65%;
	height: 200px;
	background-color: #6B0000;
	color: white;
	font-size: 100px;
	font-family: 'Josefin Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	margin-left: 150px;
	margin-top: 20px;
}

.container{
	display: grid;
	grid-template-columns: 35% 65%;
}

.card-container .card{
    position: relative;
    transform: scale(1);
    /*transform-style: preserve-3d;*/
    /*transition: transform .5s;*/
    margin-bottom: 70px;
    margin-left: 20px;
}

.container .card img{
	width: 155px;
	height: auto;
}

.card-container {
    width: 65%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.card {
    width: calc(20% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    transform-style: preserve-3d;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face{
    transform: rotateY(180deg);
    position: absolute;
}
.back-face {
    position: absolute;
    backface-visibility: hidden;
}